body{
  background-color: black
  /* rgba(148, 26, 26, 0.685);
   */
}

.App {
 color: red; 
  display: flex;
  text-align: center;
  justify-content: center;
  
  align-items: center
  /* background-color: red; */
}



.CalculatorWrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
  padding: 10px;
}

.Row{
  display: flex;
}


